<% if @event.errors.any? %>
    <div id="error_explanation_event">
      <div class="alert alert-danger">
        El formulario contiene los siguientes errores
      </div>
      <ul id="ul_event">
        <% @event.errors.full_messages.each do |msg| %>

            <% if  msg == "Nombreeven can't be blank" %>
                <li><%= "Nombre del evento no puede estar vacío" %></li>
            <% elsif msg == "Responsable can't be blank" %>
                <li><%= "Responsable no puede estar vacio" %></li>
            <% elsif msg == "Telefono can't be blank" %>
                <li><%= "Teléfono no puede estar vacio" %></li>
            <% elsif msg == "Telefono is not a number" %>
                <li><%= "Teléfono debe contener caracteres numericos " %></li>
            <% elsif msg == "Email can't be blank" %>
                <li><%= "Corre no puede estar vacío" %></li>
            <% elsif msg == "Email is invalid" %>
                <li><%= "Correo debe estar en formato ejemplo@ejemplo.com" %></li>
            <% elsif msg == "Email has already been taken" %>
                <li><%= "Correo ya existe " %></li>
            <% elsif msg == "Departamento is reserved" %>
                <li> <%= "Debe seleccionar un departamento" %></li>
            <% elsif msg == "Lugar is reserved" %>
                <li>  <%= "Debe seleccionar una ciudad" %></li>
            <% end %>
        <% end %>
      </ul>
    </div>
<% end %>
