<%= form_for @event do |f| %>
    <%= render 'shared_eventos/error_messages' %>
    <div>
      <%= f.label :Responsable %>
      <%= f.text_field :responsable %>
    </div>

    <div>
      <br>
      <%= f.label :Nombre_del_evento%>
      <%= f.text_field :nombreEven%>

    </div>
    <div>
      <br>
      <%= f.label :Departamento%>
      <% if @event.departamento != "" %>
      <%= f.select :departamento, [[@event.departamento]]  %><br>
      <% else%>
      <%= f.select :departamento, [['Seleccionar','seleccionar']]  %><br>
      <% end%>
    </div>
     <div>
       <br>
       <%= f.label :Ciudad%>
       <% if @event.lugar != "" %>
       <%= f.select :lugar, [[@event.lugar ]]  %><br>
       <% else%>
       <%= f.select :lugar, [['Seleccionar','seleccionar']]  %><br>
       <% end%>
     </div>
    <div>
      <br>
      <%= f.label :Fecha%>
      <%= f.date_select :fechaHora%>
      <%= f.label :Hora%>
      <%= f.time_select :fechaHora%><br>
    </div>
    <div>
      <br>
      <%= f.label :Descripción%>
      <br>
      <%= f.text_area :descripcion %><br>
    </div>

    <div>
      <br>
      <%= f.label :Teléfono%>
      <%= f.text_field :telefono %><br>
    </div>

    <div>
      <br>
      <%= f.label :Correo%>
      <%= f.text_field :email %><br>
    </div>
    <p>
      <%= f.submit "Guardar evento" %>
    </p>
<% end %>