<div class="container">
  <div class="jumbotron">
    <h1>EVENTOS</h1>
    <div>
      <p>Accediendo a la creación de eventos <br>
        <%= link_to 'Nuevo Evento', new_event_path %>
      </p>
    </div>
  </div>

  <%= form_tag events_path, :method => 'get', :id => "events_search" do %>
      <div >
        <div style="display: inline-block">
          <%= text_field_tag :search, params[:search],class:"form-control " %>
        </div>
        <div style="display: inline-block" >
          <%= submit_tag "Buscar lugar del evento", :name => nil,class:"btn btn-default" %></submit>
        </div>
      </div>
      <div id="events" >
        <%= render 'event' %>
      </div>
  <% end %>

</div>
