<div class="container">
  <div class="jumbotron">
    <h1>EVENTOS</h1>
    <div>
      <p>Accediendo a la creación de eventos <br>
        <%= link_to 'Nuevo Evento', new_event_path %>
      </p>
    </div>
  </div>

  <%= form_tag events_path, :method => 'get', :id => "events_search" do %>
      <div class="container">
        <%= text_field_tag :search, params[:search] %>
        <submit class="btn btn-default">
          <%= submit_tag "Buscar lugar del evento", :name => nil %></submit>
      </div>
      <div class="container" id="events" >
        <%= render 'event' %>
      </div>
  <% end %>


</div>
