<h1>EVENTOS</h1>
<div>
  <p>Accediendo a la creación de eventos <br>
    <%= link_to 'Nuevo Evento', new_event_path %>
  </p>
</div>



<div class="container">
  <% @events.each do |event| %>


    <div class="card alinear_eventos">

        <div class="card-block ancho_div_eventos">
          <h4 class="card-title"><%= event.nombreEven %></h4>
          <p class="card-text">Lugar <%= event.lugar %></p>
          <p class="card-text"><small class="text-muted">Fecha <%= event.fechaHora.strftime(" %A, %w of %B") %></small></p>
          <p class="card-text"><small class="text-muted">Hora <%= event.fechaHora.strftime(" %X %p") %></small></p>
          <p><%= link_to 'Mostrar', event_path(event) %></p>


        </div>


    </div>




  <% end %>
</div>
