<div class="container">
  <h1>Mostrando evento ingresado</h1>
  <div>
    <strong>Responsable: </strong>
    <%= @event.responsable %>
  </div>
  <div>
    <br>
    <strong>Nombre del evento: </strong>
    <%= @event.nombreEven %>
  </div>
  <div>
    <br>
    <strong>Departamento: </strong>
    <%= @event.departamento %><br>
  </div>
  <div>
    <br>
    <strong>Ciudad: </strong>
    <%= @event.lugar %><br>
  </div>
  <div>
    <br>
    <strong>Fecha: </strong>
    <%= (@event.fechaHora).strftime(" %A, %w of %B") %><br>
  </div>
  <div>
    <br>
    <strong>Hora: </strong>
    <%= (@event.fechaHora).strftime(" %X %p") %><br>
  </div>
  <div>
    <br>
    <strong>Descripción: </strong>
    <%= @event.descripcion %><br>
  </div>
  <div>
    <br>
    <strong>Teléfono: </strong>
    <%= @event.telefono %><br>
  </div>
  <div>
    <br>
    <strong>Correo: </strong>
    <%= @event.email %><br>
  </div>
  <div>
    <br>
    <p><%= link_to 'Editar evento', edit_event_path %></p>
    <p><%= link_to 'Eliminar evento', event_path(),
                   method: :delete,
                   data: { confirm: 'Estas seguro de eliminarlo?' } %></p>
    <p><%= link_to 'Volver', events_path %></p>

  </div>

</div>
